/*
 | Header
*/
.notebook-container {
    max-width: 900px;
    background-color: white;
    overflow: hidden;
}

.notebook-header {
    border-bottom: 1px dashed lightgray;
}

.notebook-header img {
    height: 45px;
}

/*
 | Root
*/

.root-container {
    background-color: lightgray;
}

/*
 | Blocks
*/
bool-markdown, bool-code, bool-dependency {
    padding-left: 100px;
    border: 1px solid white;
    border-left: 5px solid white;
}

bool-markdown:focus, bool-code:focus, bool-dependency:focus {
    background-color: lemonchiffon;
}

bool-code vaadin-text-area, bool-dependency vaadin-text-area, bool-markdown vaadin-text-area {
    width: calc(100% - 5px);
}

.clicked {
    border-color: lightgray;
    border-left-color: dodgerblue;
}

